@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
@font-face {
    font-family: net;
    src: url(NetWorld.woff);
  }

.logo{
    color:#EE1B24;
    font-family: net;
    font-size:50px;
    font-weight: 600;

}
.logo:hover{
    cursor:pointer;
}
.head{
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.menus{
    color:#40343D;
    text-decoration: underline transparent;
    padding-right: 10px;
    font-size: medium;
}

.menu{
    padding: 6px;
}
body{
    font-family: 'JetBrains Mono', monospace;
}

.menus:hover{
    color: #EE1B24;
    padding: 5px;
    border-radius: 20px;
}

.login{
    background-color:#EE1B24;
    color:white;
    font-family: 'JetBrains Mono', monospace;
    font-size: medium;
    padding:6px;
    border-radius:20px;
    text-decoration: underline transparent;
}
.login::hover{
    color:black
}