@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
.deleteBtn{
    border-radius: 50px;
	padding: 10px;
	background-color: #EE1B24;
	color:white;
	border:none;
	width: 100%;
	margin-top: 10px;
}
.deleteBtn:hover{
	font-size: large;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
table{
    border: solid #EE1B24;
    padding:10px;
    border-radius: 20px;
    width: 100%;
}
td{
    border: transparent;
    padding:10px;
    border-width: 1px;
}
tr{
    border: solid #EE1B24;
    padding:10px;
}

