@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
body {
	/*background: linear-gradient(to top, #EE1B24 50%, #fff 50%);*/
	background-image: url('./images/background.png');
}
a{
	color:#40343D;
	font-size: medium;
}
.loginForm{
    height: 50%;
    width: 30%;
    background-color: white;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.regForm{
    height: 70%;
    width: 30%;
    background-color: white;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	margin: auto;
	padding-top: 20px;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.username,.password{
    border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 300px;
	color:gray;
}
.username:focus,.password:focus{
    border: transparent;
	outline-width: 0ch;
}

.loginBtn{
	border-radius: 50px;
	padding: 10px;
	background-color: #EE1B24;
	color:white;
	border:none;
	width: 20%;
	margin-top: 10px;
}
.loginBtn:hover{
	border-radius: 50px;
	padding: 10px;
	background-color: #EE1B24;
	color:white;
	border:none;
	font-size: large;
	width: 25%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link{
	color:#EE1B24;
	font-size: small;
	margin-top: 10px;
	text-decoration: underline transparent;
}
.link:hover{
	color:white;
	background-color: #EE1B24;
	padding: 2px;
	border-radius: 20px;

}

.fields{
	padding: 2px;
}

.heading{
	color:#EE1B24;
	font-family: 'JetBrains Mono', monospace;
}

.labels{
	font-size: small;
}

.reset,.signup{
	margin-top: 20px;
}

.middle{
	display: flex;
	justify-content: center;
	padding: 40px;
}

.packageMid{
	display: flex;
	justify-content: center;
	background-color: white;
	padding:90px;
}