.button{
    background-color:gray;
    color:white;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border-color: transparent;
}
input{
    width: 200px;
    height: 60px;
    background-color: black;
    color:white;
    border-radius: 20px;
    border-color: transparent;
}
div{
    background-color: black;
}
#container{
    align-self: center;
    padding: 15px;
    border-radius: 20px;
}
.operators{
    background-color:#ED900A;
    color:white;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border-color: transparent;
}
body{
    display:flex;
    justify-content: center;
    padding-top: 150px;
}